# Pandas
Introduction to pandas using Brandon's tutorial

For notebook shortcuts - just hit ```h```

https://github.com/brandon-rhodes/pycon-pandas-tutorial

## Exercise 1

In [32]:
# Print all outputs in jupyter notebook
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [33]:
# Allows matplotlib to draw graphics in notebook, rather than separate window
%matplotlib inline 
import pandas as pd

In [36]:
# Note that the DataFrame.from_csv has been deprecated - replaced by pd.read_csv
titles=pd.read_csv('pycon-pandas-tutorial/data/titles.csv', index_col=None, encoding='utf-8')
titles.head()

cast=pd.read_csv('pycon-pandas-tutorial/data/cast.csv', index_col=None)
cast.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2   The Spider and the Fly  1949
3                  Country  2000
4          The Golden Note  2017

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

https://youtu.be/5JnMutdy6Fw?t=1173